# ==========================
# Python
# ==========================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================

venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# Streamlit
# ==========================

.streamlit/

# ==========================
# Uploaded Documents
# ==========================

data/uploads/

# ==========================
# FAISS Index
# ==========================

data/vector_store/

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Testing
# ==========================

.pytest_cache/

# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints/

# ==========================
# Build
# ==========================

build/
dist/
*.egg-info/